#h3 {
    color: plum
}

#h3-new {
    color: palegreen
}

.large-font {
    font-size: xx-large;
}

.color-green {
    color: green
}

.border-class {
    border-color: blueviolet;
    border-width: 2px;
    padding: 10px;
    margin: 10px;
}
.color-red {
    color: red
}
#h4{
    color:aqua
}
.large{
    font-size:x-large;
}
.border-class1{
    border-color: blueviolet;
    border-width: 2px;
    padding: 10px;
    margin: 10px;
}
#h5{
    color:yellowgreen
}
#h6{
    color:tomato
}
#h7{
    color:darkblue
}
#h8{
    color:rgba(22, 94, 40, 0.934)



.solid{border-style:solid;border-width:7px;border-color:white}
.flexbox{display:flex;width:100px;flex-wrap:wrap;border: 7px }
.flexbox>div{flex:1 1 150px}
.grid{display:grid;width:300px;grid-template-columns:repeat(1,1fr);border:10px}
